.expert_mainContainer{
    /* margin: 1rem; */
    padding-bottom: 3rem;
    padding-left: 5rem;
    background-color: #ffb607;
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    /* gap: 1rem; */
    box-sizing: border-box;
}
.expert_subContainer{
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
}


@media (max-width:320px) {
    .expert_mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* Leave space around the divs */
        width:100%;
        box-sizing: border-box;
        padding-bottom: 3rem;
        padding-left:0 ;
        
    }
    .expert_subContainer .description{
        font-family: 'Rubik';
        font-size: 12px;
        line-height: 1.2rem;
    }
}
@media (max-width:768px) {
    .expert_mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* Leave space around the divs */
        width:100%;
        box-sizing: border-box;
        padding-bottom: 3rem;
        padding-left:0 ;
       
        
    }
    .expert_subContainer{
        display: flex;
        flex-direction: column;
       
        
    }
    .expert_subContainer img{
        width: 10rem;
    }
    .description{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -1rem;
    }
}


@media (min-width:768px) and (max-width:1024px){
    .expert_mainContainer{
        display: flex;
        justify-content: space-around; /* Leave space around the divs */
        width:100%;
        box-sizing: border-box;
        padding-bottom: 3rem;
        padding:2rem;
        gap: 2rem;
        
    }
}

@media (min-width:1024px) and (max-width:1441px) {
    .expert_mainContainer{
        display: flex;
        gap: 4rem;
        justify-content: center;
        padding-right: 5rem;
    }
    .expert_subContainer{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .description {
        text-align: center;
    }
}

@media (min-width:1441px) and (max-width:2560px) {
    .expert_mainContainer{
        display: flex;
        gap: 14rem;
        justify-content: center;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 5rem;
    }
    .expert_subContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0;
    }
    .expert_subContainer img{
        width: 20rem;
    }
    .description {
        text-align: center;
    }
    .description h3{
        font-size: 2rem;
    }
    .description p{
        font-size: 2rem;
    }
}