.odoo_mainContainer {
    position: relative;
    margin-top: 3vw;
    padding: 6vw;
    color:orange;
    text-align: center;
    z-index: 1;
    max-height: fit-content;
}
.odoo_mainContainer_img{
    position: relative;
    z-index: 2; 
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    
}
.odoo_mainContainer_img h2{
    font-family: "Rubik";
    font-size: 1.6vw;
    color: #111111;
}
.odoo_mainContainer_img h5{
    font-family: "Rubik";
    font-size: 1.4vw;
    color: #111111;
    font-weight: 400;
}

.odoo_mainContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../Media/python_course_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; /* Set opacity for the background image */
    z-index: 1;
}
.odoo_subContainer{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap:2vw
}
.odoo_subContainer h2{
    color: #111111;
    font-family: "Rubik";
    font-weight: 300;
}
.odoo_subContainer img{
    width: 63vw;
}
.overview{
    display: flex;
    justify-content: center;
    gap: 4vw;
    background-color: #ece9f9;
    width: 63vw;
    padding: 2vw;
    font-size: 1.5vw;
    font-family: "Rubik";
   
}
.overview h4:hover{
    cursor: pointer;
}
.overview h4:active{
    color: orange;
    cursor:pointer;
}

.content .overview_maincontainer{
    font-family: 'Rubik';
    font-weight: 100;
    color: #616161;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 63vw;

}
.odoo_span{
    color: orange;
}
.odoo_curriculum_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 63vw;
    box-sizing: border-box;
    flex-grow: 1;
}

.odoo_curriculum_container h2, .odoo_curriculum_container h3 {
    border-bottom: 1px solid #ccc;
    padding: 2vw; /* Use viewport width for padding */
    box-sizing: border-box;
}
.odoo_curriculum_container h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.odoo_playbtn_container, .odoo_playbtn_container1 {
    display: flex;
    gap: 0.7vw;
    align-items: center;
    padding: 1.5vw; /* Use viewport width for padding */
    background-color: #fae6fd;
    font-family: 'Rubik';
    box-sizing: border-box;
    flex-grow: 1;
}

/* For odoo_playbtn_container1 (with white background) */
.odoo_playbtn_container1 {
    background-color: white;
}
.odoo_instructor{
    display: flex;
    gap: 2vw;
    align-items: center;
}
.odoo_instructor img{
    width: 20vw;
    height: 20vw;
    box-shadow: 2px 2px 10px orange;
    border: 3px solid white;
   
    border-radius: 1vw;
    
    
}
.odoo_instructor_content{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
}
.odoo_instructor_content div p{
    width: 30vw;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 2vw;
}
.odoo_socialmedia{
    display: flex;
    gap: 2vw;
    
    
}
.odoo_icons{
    width: 3vw;
    height: 3vw;
    background-color: #f5f6fa;
    text-align: center;
    padding: 8px;
    border-radius: 0.4vw;
    
}
.odoo_icons:hover{
    color: orange;
}

@media screen and (min-width:1440px) and (max-width:2560px) {
    .odoo_subContainer h2{
        font-size: 2vw;
    }
    .odoo_subContainer img{
        height: 30vw;
    }
    .odoo_curriculum_container h3{
        font-size: 1.4vw;
        font-family: "Rubik";
        font-weight: 300;
    }
    .odoo_curriculum_container .odoo_playbtn_container,.odoo_playbtn_container1{
        font-size: 1vw;
    }
    .odoo_instructor img{
        width: 20vw;
        height: 20vw;
        box-shadow: 2px 2px 10px orange;
        border: 3px solid white;
        border-radius: 1vw;
    }
    .odoo_socialmedia .odoo_icons{
        width: 2.5vw;
        height: 2.5vw;
    }
}