.Benefit_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 8rem;
    background-color: white;
    /* border: 1px solid black; */
    /* font-family: 'Rubik';
    font-style: normal;
    font-weight: 100; */
    
}
.Benefit_Container h2{
    color: orange;
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 18px;
   
}
.Benefit_Container h1{
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 30px;
}
.Benifit_img_container{
    display: flex;
    gap: 5rem;
    padding-top: 4rem;
}
.Benifit_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: 1s;
}
.Benifit_image:hover{
    transform: translateY(-5px);
}
.Benifit_image h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}



@media (max-width:320px){
    .Benefit_Container{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding-top: 2rem;
        padding-bottom: 3rem;
        margin-top: 0;
    }
    .Benefit_Container h1{
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 15px;
    }
    .Benefit_Container h2{
        font-family: 'Rubik';
        
        font-size: 10px;
    }
    .Benefit_Container img{
        width: 10rem;
    }
    .Benifit_image{
        gap:1rem;
        
    }
    .Benifit_image img{
        width:40%;
    }
    .Benifit_image h3{
        font-size: 15px;
    }
    .Benifit_img_container{
        padding-top: 0;
        gap:3rem;
        display: flex;
        flex-direction: column;

    }
}


@media (min-width:321px) and (max-width:768px) {
    .Benefit_Container{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding-top: 2rem;
        padding-bottom: 3rem;
        margin-top: 0;
    }
    .Benefit_Container h1{
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 20px;
    }
    .Benefit_Container h2{
        font-family: 'Rubik';
        
        font-size: 10px;
    }
    .Benefit_Container img{
        width: 10rem;
    }
    .Benifit_image{
        gap:1rem;
        
    }
    .Benifit_image img{
        width:40%;
    }
    .Benifit_image h3{
        font-size: 15px;
    }
    .Benifit_img_container{
        padding-top: 0;
        gap:3rem;
        display: flex;
        flex-direction: column;

    }
    
   
}

@media (min-width:1024px) and (max-width:1441px) {
    .Benefit_Container{
        padding: 4rem 0;
    }
}

@media (min-width:1441px) and (max-width:2560px) {
    .Benefit_Container{
        padding: 10rem 0;
        
    }
    .Benefit_Container h2{
        font-size: 2rem;
    }
    .Benefit_Container h1{
        font-size: 4rem;
    }
    .Benefit_Container img{
        width: 28rem;
    }
    .Benifit_img_container img{
        width: 18rem;
    }
    .Benifit_img_container{
        display: flex;
        gap: 12rem;
        
    }
    .Benifit_image h3{
        font-size: 2.3rem;
    }
}