/* .Course_container{
    background-color: #ece9f9;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 4rem;
    font-family: 'Rubik';
    margin-top: 3rem;
    box-sizing: border-box;
}
.Course_container p{
    color: orange;
    font-weight:lighter;
    font-family: 'Rubik';
    
}
.Course_container h1{
    font-family: 'Rubik';
    font-weight: 300;
    font-size:40px;
    color: #111111;
} */
/* .course_details{
    border: 1px solid black;
    border-radius: 5px;
    width: 10rem;
    background-color: white;
    transition: 0.3s;
    height: 20rem;
    overflow: hidden;
    
} */
/* .course_details:hover{
    transform: translateY(-10px);
} */
/* .course_card{
    display: flex;
    gap: 2rem;
    padding: 3rem;
    max-width: 50rem;
    border: 1px solid black;
} */
/* .course_description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding: 1rem;
}


.course_card{ */
    /* width:100% ; */
    /* width:70% ; */
    /* height:500px ; */
    /* height:300px ;
    overflow:hidden ; */
    /* display: flex;
    gap:5rem ; */
/* }
figure{
    position: relative;
    left: 0; */
    /* width: 400%; */
    /* width: 200%;
    display: flex; */
    /* flex-wrap: wrap; */
    /* gap:5rem ;
    animation: 30s slide infinite;
}
.course_details{
    position: relative;
    width:25%; */
    /* width:200%; */
    /* float: left;
    background-color: white;
    
} */

/* @keyframes slide {
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    80%{
        left: -200%;
    }
    90%{
        left: -200%;
    }
    100%{
        left: -200%;
    }
    
} */


/* @keyframes slide {
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    90%{
        left:0%;
    }
    100%{
        left:0;
    }
   
} */





/* @media (min-width:321px) and (max-width:426px) {
    .Course_container{
        width: 100%;
        height:fit-content;
        box-sizing: border-box;
        margin: 0;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 6rem;
        

    }
    .Course_container h1{
        font-size: 25px;
    }
    .Course_container img{
        width: 10rem;
    }
    .course_card{
        width: 100%; */
        /* width: 20%; */
        /* height:fit-content;
        box-sizing: border-box;
        margin-top: 2rem;
        overflow:hidden ; */
        /* border: 1px solid blue; */
        /* padding: 0;
        display: flex;
        flex-direction: column;
        
    }
    .course_description{
        font-size: 12px;
        padding: 1rem;
    }
    .course_description p{
        color: black;
    }
    .course_details #django-img{
        height: 170px;
    }
    .course_description h2{
        font-size: 25px;
    }
    figure{
        position: relative;
        left: 0; */
        /* width:100%; */
        /* height: fit-content; */
        /* gap:5rem ;
        animation: 30s slide infinite;
        display: flex;
        flex-direction: column;
    }
    .course_details{ */
        /* position: relative;
        width:100%;
        float: left; */
        
        /* background-color: #111111; */
        /* background-color: white;
        width:50%;
        height: fit-content; */
        
    /* }
    .course_details img{
        width:100%;
    } */
    /* @keyframes slide {
        0%{
            left: 0;
        }
        10%{
            left: 0;
        }
        20%{
            left: -100%;
        }
        30%{
            left: -100%;
        }
        40%{
            left: -100%;
        }
        50%{
            left: -100%;
        }
        90%{
            left:0%;
        }
        100%{
            left:0;
        }
       
    } */
    
/* } */





/* Responsive styles for small screens (321px - 426px) */
@media (min-width:321px) and (max-width: 426px) {
    .Course_container{
        background-color: #ece9f9;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding:2rem; 
        font-family: 'Rubik';
        margin-top: 3rem;
        box-sizing: border-box;
    }
    .Course_container p {
      font-size: 1em;
      color: #ffb607;
    }
  
    .Course_container h1 {
      font-size: 1.5em;
    }
  
    .course_card {
      flex-direction: column;
      align-items: center;
    }
  
    .under_figure-div {
      flex-direction: column;
      align-items: center;
    }
  
    .course_details {
      width: 100%; /* Full width on small screens */
      margin: 15px 0;
      padding: 10px;
      padding-bottom: 40px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      border-radius: 5px;
    }
    .course_details p{
        color: black;
    }
  
    .course_details img {
      height:auto; /* Adjust image height */
    }
    #django-img{
        height: 180px;
    }
    .course_description h2 {
      font-size: 1.1em;
      text-align: left;
      margin-top: 1rem;
    }
  
    .course_description p {
      font-size: 0.85em;
    }
  }

@media (max-width:320px) {
    .Course_container{
        background-color: #ece9f9;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 4rem;
        font-family: 'Rubik';
        margin-top: 3rem;
        box-sizing: border-box;
    }
    .Course_container h1{
        font-size: 17px;
    }
    .course_description h2{
        font-size: 17px;
    }
    .course_description{
        font-size: 13px;
        font-family: 'Rubik';
    }
    .course_description p{
        color: black;
    }
    .course_details #django-img{
        height: 120px;
    }
    
}

@media (min-width:1024px) and (max-width:1440px) {
    .Course_container{
        background-color: #ece9f9;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 4rem;
        font-family: 'Rubik';
        margin-top: 3rem;
        box-sizing: border-box;
        overflow: hidden;
    }
    .Course_container p{
        color: #ffb607;
        font-size: 1.2rem;
    }
    .course_card {
        display: flex;
        flex-wrap: wrap;
       
      }
      figure{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 1rem;
      }
      .under_figure-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 2rem;
      }
      
      .course_details {
        width: 330px; /* Restrict the width of each course card */
        height: 280px; /* Restrict the height of each course card */
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden; /* Hide overflowing content */
        background-color: #f9f9f9;
        box-sizing: border-box;
      }
      
      .course_details img {
       
       
        box-sizing: border-box;
        width: 100%;
        height: auto; /* Ensure image scales to fit inside the card */
        max-height: 150px; /* Restrict image height to fit within the card */
      }
      
      .course_description {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      
      .course_description h2 {
        font-size: 1.5em;
        margin: 0;
        line-height: 1.2;
        text-align: left;
       
      }
      
      .course_description p {
        font-size: 0.9em;
        line-height: 1.4;
        /* color: #666; */
        color: black;
      }
      #django-img{
        height: 55%;
      }
      

}


/* Responsive styles for screens 1441px and above */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .Course_container{
        background-color: #ece9f9;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 4rem;
        font-family: 'Rubik';
        margin-top:0;
        box-sizing: border-box;
        padding-top: 12rem;
    }
    .Course_container p{
        color: #ffb607;
        font-size: 2rem;
    }
    .Course_container h1{
       font-family: 'Rubik';
       font-weight: 300;
        font-size: 4rem;
    }
    .Course_container img{
        width: 30rem;
        padding-bottom:5rem ;
    }
    .course_card {
        display: flex;
        flex-wrap: wrap;
       
      }
      figure{
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .under_figure-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 4rem;
      }
      
      .course_details {
        width: 700px; /* Restrict the width of each course card */
        height: 630px; /* Restrict the height of each course card */
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 25px;
        padding-bottom: 30px;
        box-sizing: border-box;
        overflow:hidden; /* Hide overflowing content */
        background-color: #f9f9f9;
        font-size:2rem;
      }
      
      .course_details img {
        width: 100%;
        height: auto; /* Ensure image scales to fit inside the card */
        max-height: 350px; /* Restrict image height to fit within the card */
        padding: 0;
      }
      
      .course_description {
        padding: 1px 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
      }
      
      .course_description h2 {
        font-size: 1.5em;
        line-height: 1.2;
        text-align: left;
       
      }
      
      .course_description p {
        font-size: 0.9em;
        line-height: 1.4;
        color: #666;
      }
      #django-img{
        height: 65%;
      }
  }