.fullstack_mainContainer {
    position: relative;
    font-size: 5vw;
    margin-top: 4vw;
    padding: 6vw;
    color:orange;
    
}

.fullstack_mainContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../Media/python_course_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; /* Set opacity for the background image */
    z-index: 1;
    margin-top: -1vw;
}

.fullstack_mainContainer_img {
    position: relative;
    z-index: 2; /* Ensure the text is above the background image */
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    
}
.fullstack_mainContainer_img h2{
    color: #111111;
    font-size: 1.5vw;
}
.fullstack_mainContainer_img h5{
    color: #111111;
    font-size: 1.2vw;
    font-family: 'Rubik';
    font-weight: 400;
}
.fullstack_subContainer{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 4vw;
    text-align: left;
    /* font-family:Arial, Helvetica, sans-serif; */
   
}
.fullstack_subContainer h2{
    color:#111111;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 2.3vw;
}
.fullstack_subContainer img{
    width: 63vw;
    height: 30vw;
}
.fullstack_overview{
    display: flex;
    gap: 4vw;
    background-color: #ece9f9;
    width: 63vw;
    padding: 2vw;
   justify-content: center;
   font-size: 1.5vw;
   font-family: "Rubik";
}
.fullstack_overview h4:hover{
    cursor: pointer;
}
.fullstack_overview h4:active{
    color: orange;
    cursor:pointer;
}
.fullstack_overview h4{
    position: relative;
}
.fullstack_overview h4::after {
    content:"";
    border-bottom: 3px solid orange;
    bottom: -2vw;
    position: absolute;
    left: 50%; 
    width: 0;
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition */
}
.fullstack_overview h4:hover::after {
    width: 100%; /* Expand underline on hover */
    left: 0;
}
.fullstack_content .fullstack_overview_maincontainer{
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 1vw;
    color: #616161;
    line-height: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 63vw;
}
.fullstack_content .fullstack_overview_maincontainer h2{
    font-size: 2vw;
}
.fullstack_span{
    color: orange;
}


.fullstack_curriculum_container {
    border: 1px solid #ccc;
    width: 63vw;
    box-sizing: border-box;
   
}
.fullstack_curriculum_container .fullstackplaybtn_container h3{
    font-size: 1.5vw;
}
.fullstack_curriculum_container .fullstack_javascript_container h3{
    font-size: 1.5vw;
}
.fullstack_plus_btn,.fullstack_minus_btn {
    color: orange;
}
.fullstackplaybtn_subcontainer{
    display: flex;
    gap:0.5vw;
    align-items: center;
    padding: 1.2vw;
    background-color: #fae6fd;
    font-family: 'Rubik';
    font-size: 1.2vw;
}
.fullstackplaybtn_subcontainer1{
    display: flex;
    gap:0.5vw;
    align-items: center;
    padding: 1.2vw;
    background-color:white;
    font-family: 'Rubik';
    font-size: 1.2vw;
}
/* Adjust font size and padding using relative units like vw and rem */
.fullstack_curriculum_container h2{
    padding: 2vw; 
    font-size: 2vw; 
    border-top: 1px solid #ccc;
}
.fullstack_curriculum_container h3 {
    padding: 1.5vw; 
    font-size: 1.5vw; 
    border-top: 1px solid #ccc;
}
.fullstack_curriculum_container h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Rubik';
    font-weight: 300;
    
}
.fullstackinstructor{
    display: flex;
    gap: 2vw;
    align-items: center;
    width: 63vw;
}
.fullstackinstructor img{
    width: 20vw;
    height: 20vw;
    border-radius: 2vw;
    border: 2px solid white;
    box-shadow: 1px 1px 10px orange;
}
.fullstackinstructor_content{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
}
.fullstackinstructor_content h2{
    font-size: 2vw;
}
.fullstackinstructor_content p{
    font-size: 1.3vw;
}
.fullstackinstructor_content h4{
    font-size: 1.2vw;
    font-family: "Rubik";
    font-weight: 100;
}
.fullstacksocialmedia{
    display: flex;
    gap: 3vw;
}
.fullstacksocialmedia .fullstackicons{
    width: 2vw;
    height: 2vw;
    background-color: #ece9f9;
    padding: 15%;
    border-radius: 0.5vw;
}
.fullstacksocialmedia .fullstackicons:hover{
    color: orange;
}




/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .Pythonfullstack_curriculum_container {
        width: 90%; 
        font-size: 1rem; 
        
    }
    
    .Pythonfullstack_curriculum_container h2, .Pythonfullstack_curriculum_container h3 {
        font-size: 1.5rem; 
    }
}

