.fullstack_mainContainer {
    position: relative;
    font-size: 5vw;
    margin-top: 4vw;
    padding: 6vw;
    color:orange;
    
}

.fullstack_mainContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../Media/python_course_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; /* Set opacity for the background image */
    z-index: 1;
    margin-top: -1vw;
}

.fullstack_mainContainer_img {
    position: relative;
    z-index: 2; /* Ensure the text is above the background image */
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    
}
.fullstack_mainContainer_img h2{
    color: #111111;
    font-size: 1.5vw;
}
.fullstack_mainContainer_img h5{
    color: #111111;
    font-size: 1.2vw;
    font-family: 'Rubik';
    font-weight: 400;
}
.fullstack_subContainer{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 4vw;
    text-align: left;
    /* font-family:Arial, Helvetica, sans-serif; */
   
}
.fullstack_subContainer h2{
    color:#111111;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 2.3vw;
}
.fullstack_subContainer img{
    width: 63vw;
    height: 30vw;
}
.fullstack_overview{
    display: flex;
    gap: 4vw;
    background-color: #ece9f9;
    width: 63vw;
    padding: 2vw;
   justify-content: center;
   font-size: 1.5vw;
   font-family: "Rubik";
}
.fullstack_overview h4:hover{
    cursor: pointer;
}
.fullstack_overview h4:active{
    color: orange;
    cursor:pointer;
}
.fullstack_overview h4{
    position: relative;
}
.fullstack_overview h4::after {
    content:"";
    border-bottom: 3px solid orange;
    bottom: -2vw;
    position: absolute;
    left: 50%; 
    width: 0;
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition */
}
.fullstack_overview h4:hover::after {
    width: 100%; /* Expand underline on hover */
    left: 0;
}
.fullstack_content .fullstack_overview_maincontainer{
    font-family: 'Rubik';
    font-weight: 100;
    font-size: 1vw;
    color: #616161;
    line-height: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 63vw;
}
.fullstack_content .fullstack_overview_maincontainer h2{
    font-size: 2vw;
}
.fullstack_span{
    color: orange;
}


.fullstack_curriculum_container {
    border: 1px solid #ccc;
    width: 63vw;
    box-sizing: border-box;
   
}
.fullstack_curriculum_container .fullstackplaybtn_container h3{
    font-size: 1.5vw;
}
.fullstack_curriculum_container .fullstack_javascript_container h3{
    font-size: 1.5vw;
}
.fullstack_plus_btn,.fullstack_minus_btn {
    color: orange;
}
.fullstackplaybtn_subcontainer{
    display: flex;
    gap:0.5vw;
    align-items: center;
    padding: 1.2vw;
    background-color: #fae6fd;
    font-family: 'Rubik';
    font-size: 1.2vw;
}
.fullstackplaybtn_subcontainer1{
    display: flex;
    gap:0.5vw;
    align-items: center;
    padding: 1.2vw;
    background-color:white;
    font-family: 'Rubik';
    font-size: 1.2vw;
}
/* Adjust font size and padding using relative units like vw and rem */
.fullstack_curriculum_container h2{
    padding: 2vw; 
    font-size: 2vw; 
    border-top: 1px solid #ccc;
}
.fullstack_curriculum_container h3 {
    padding: 1.5vw; 
    font-size: 1.5vw; 
    border-top: 1px solid #ccc;
}
.fullstack_curriculum_container h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Rubik';
    font-weight: 300;
    
}
.fullstack_instructor{
    display: flex;
    gap: 2vw;
    align-items: center;
    width: 63vw;
}
.fullstack_instructor img{
    width: 20vw;
    height: 20vw;
    border-radius: 2vw;
    border: 2px solid white;
    box-shadow: 1px 1px 10px orange;
}
.fullstack_instructor_content{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
}
.fullstack_instructor_content div h2{
    font-size: 2vw;
}
.fullstack_instructor_content div p{
    font-size: 1.3vw;
    font-family: "Rubik";
}
.fullstack_instructor_content div h4{
    font-size: 1.2vw;
    font-family: "Rubik";
    font-weight: 100;
}
.fullstack_socialmedia{
    display: flex;
    gap: 3vw;
}
.fullstack_socialmedia .fullstack_icons{
    width: 3vw;
    height: 3vw;
    background-color: #ece9f9;
    padding: 15%;
    border-radius: 0.5vw;
}
.fullstack_socialmedia .fullstack_icons:hover{
    color: orange;
}



@media screen and (max-width:425px) {
    .fullstack_mainContainer::before {
        margin-top: 10vw;
        height: 80%;
       
    }
    .fullstack_mainContainer .fullstack_mainContainer_img{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap:2vw;
        padding: 10vw;
        margin-top: 10vw;
        

    }
    .fullstack_mainContainer .fullstack_mainContainer_img h2{
        font-size: 4vw;
        margin: 0;
    }
    .fullstack_mainContainer .fullstack_mainContainer_img h5{
        font-size: 3vw;
        margin: 0;
    }
    .fullstack_subContainer{
        display: flex;
        flex-direction: column;
        margin:2vw;
        gap: 4vw;
       
    }
    .fullstack_subContainer h2{
        font-size: 3.2vw;
        margin-bottom: 0;
    }
    .fullstack_subContainer img{
        width: 80vw;
        height: 40vw;
        
    }
    .fullstack_subContainer .fullstack_overview{
        width: 80vw;
        font-size: 3.5vw;
        gap: 7vw;
        padding: 4vw;
    }
    .fullstack_overview h4::after {
        bottom: -4vw;
        border-bottom: 2px solid orange;
        
    }
    .fullstack_content .fullstack_overview_maincontainer{
        width: 80vw;
        gap: 4vw;
    }
    .fullstack_content .fullstack_overview_maincontainer .fullstack_overview_description{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .fullstack_content .fullstack_overview_maincontainer .fullstack_overview_description h2{
        font-size: 4vw;
    }
    .fullstack_content .fullstack_overview_maincontainer .fullstack_overview_description p{
        font-size: 2vw;
        line-height: 3vw;
        
    }
    .fullstack_curriculum_container {
       
        width: 80vw;
       
       
    }
    .fullstack_curriculum_container h2{
        font-size: 4vw;
    }
    .fullstack_playbtn_container h3{
        font-size: 3vw;
    }
    .fullstack_curriculum_container .fullstack_javascript_container  h3{
        font-size: 3vw;
    }
    .fullstackplaybtn_subcontainer,.fullstackplaybtn_subcontainer1{
        font-size: 2.7vw;
        padding: 2vw;
    }
    .fullstack_instructor{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5vw;

    }
    .fullstack_instructor img{
        width: 50vw;
        height: 50vw;
    }
    .fullstack_instructor_content{
        gap: 5vw;
    }
    .fullstack_instructor_content div{
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    .fullstack_instructor_content div h2{
        font-size: 5vw;
    }
    .fullstack_instructor_content div p{
        font-size: 2vw;
    }
    .fullstack_instructor_content div h4{
        font-size: 2.5vw;
        line-height: 4vw;
    }
    .fullstack_instructor_content .fullstack_socialmedia {
        display: flex;
        flex-direction: row;
        gap: 5vw;
    }
    .fullstack_instructor_content .fullstack_socialmedia .fullstack_icons{
        width: 5vw;
        height: 5vw;
        padding: 15%;
       
    }
    
}

@media screen and (min-width:1440px) and (max-width:2560px) {
    .fullstack_playbtn_container h3{
        font-size: 1.5vw;
    }
  
}

/* Media query for smaller screens (e.g., mobile) */
/* @media (max-width: 768px) {
    .Pythonfullstack_curriculum_container {
        width: 90%; 
        font-size: 1rem; 
        
    }
    
    .Pythonfullstack_curriculum_container h2, .Pythonfullstack_curriculum_container h3 {
        font-size: 1.5rem; 
    }
} */

