/* Container to center the login form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    max-height: fit-content;
    padding: 3vw;
    background-color: #f4f4f9;
  }
  .login-container h2{
    font-family: 'Rubik';
    font-weight: 300;
    text-align: center;
  }
  
  /* Login form styling */
  .login-form {
    background-color: white;
    padding:1rem 3rem ;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    max-height: fit-content;
    max-width: 30rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Rubik';
    font-weight: 300;

  }
  
  input[type="email"],
  input[type="password"] {
   
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    /* border: 1px solid orange; */
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  /* Login button styling */
  .login-button {
    width: 100%;
    padding: 10px;
    /* background-color: #007bff; */
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Rubik';
    font-weight: 300;
  }
  
  .login-button:hover {
    /* background-color: #0056b3; */
    background-color: orange;
  }
  
  /* Error message styling */
  .error {
    color: red;
    /* margin-bottom: 20px; */
    font-size:2rem;
    
  }
  
  /* Bottom links for Forgot Password and Sign Up */
  .bottom-links {
    margin-top: 20px;
    text-align: center;
  }
  
  .forgot-password,
  .signup-link {
    /* color: #007bff; */
    color: orange;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Rubik';
    font-weight: 200;
  }
  
  .forgot-password:hover,
  .signup-link:hover {
    text-decoration: underline;
    color: orange;
  }
  
  .bottom-links span {
    color: #999;
    font-size: 14px;
  }



  @media  screen and (max-width:425px) {
    .login-container{
      width: 100%;
      height: 100%;
      max-height: fit-content;
      padding: 25vw 6vw;
      padding-top: 35vw;
      box-sizing: border-box;
    }
    .login-container .login-form{
      padding:4vw 6vw ;
      height: 100%;
      max-height: fit-content;
    
    }
    .login-container .login-form h2{
      font-size: 5vw;
    }
    .login-container .login-form .form-group label{
        font-size: 3.5vw;
    }
    .login-container .login-form .form-group input{
        font-size: 3vw;
        padding: 3vw;
    }
    .login-button{
      font-size: 4vw;
      padding: 2.7vw;
     
      
    }
    .bottom-links .forgot-password,.signup-link{
      font-size: 3vw;
     
    }
  }

  /* @media (max-width:768px) {
    .login-container {
      padding: 30vw 0;
    }
  } */

  @media screen and (min-width: 1440px) and (max-width: 2560px) {
  .login-form {
    background-color: white;
    padding: 3vw;
    border-radius:1.5vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width: 40vw;
    height: 100%;
    max-height:fit-content;
    margin-top: 4vw;
    box-sizing: border-box;
   
  }
  .login-form h2{
    font-size: 2vw;
  }
 
  
  .login-form .form-group label {
   font-size: 1.3vw;

  }
  .login-form .form-group input{
    font-size: 1.3vw;
    padding: 1vw;
    border-radius: 0.8vw;
  }
  /* Login button styling */
  .login-button {
    width: 100%;
    padding: 1vw;
    background-color: orange;
    color: white;
    border-radius:0.8vw;
    font-size:1.5vw;
    cursor: pointer;
    margin-top: 1vw;
    box-sizing: border-box;
  }
  .login-button:hover {
    background-color: orange;
  }
  
  /* Error message styling */
  .form-group .error{
    color: red;
    margin-bottom:0;
    font-size:1.1vw;
  }
  
  /* Bottom links for Forgot Password and Sign Up */
  .bottom-links {
    margin-top: 2vw;
    text-align: center;
  }
  
  .forgot-password,
  .signup-link {
    /* color: #007bff; */
    color: orange;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Rubik';
    font-weight: 200;
  }
  
  .forgot-password:hover,
  .signup-link:hover {
    text-decoration: underline;
    color: orange;
  }
  
  .bottom-links span {
    color: #999;
    font-size:1vw;
  }
}
  