.python_mainContainer {
    position: relative;
    font-size: 5vw;
    margin-top: 5vw;
    padding: 6vw;
    color:orange;
    
}

.python_mainContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../Media/python_course_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; /* Set opacity for the background image */
    z-index: 1;
}

.python_mainContainer_img {
    position: relative;
    z-index: 2; /* Ensure the text is above the background image */
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.python_mainContainer_img h2{
    color: #111111;
    font-size: 2vw;
}
.python_mainContainer_img h5{
    color: #111111;
    font-size: 1.5vw;
    font-family: 'Rubik';
    font-weight: 400;
}
.python_subContainer{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 3vw;
    text-align: left;
   
   
}
.python_subContainer h2{
    color:#111111;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 2vw;
}
.python_subContainer img{
    width: 63vw;
}
.python_subContainer .overview{
    display: flex;
    gap: 6vw;
    background-color: #ece9f9;
    width: 63vw;
    padding: 2vw;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Rubik';
    font-size: 1.5vw;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.8px;
}
.overview h4:hover{
    cursor: pointer;
    
}
.overview h4:active{
    color: orange;
    cursor:pointer;
}



.overview h4 {
    position: relative;
}

.overview h4::after {
    content: '';
    position: absolute;
    left: 50%; /* Start from the middle */
    bottom: -2vw;
    width: 0; /* Initially, no width */
    border-bottom: 2px solid orange;
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition */
}

.overview h4:hover::after {
    width: 100%; /* Full width on hover */
    left: 0; /* Adjust the starting point */
}
.overview .active-tab{
    color: #ffb607; 
}


.content .overview_maincontainer{
    font-family: 'Rubik';
    font-weight: 100;
    color: #616161;
    line-height: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 63vw;
    
}
.overview_description{
    font-size: 1.2vw;
    
}


.instructor{
    font-family: 'Rubik';
    font-size: 1.2vw;
    font-weight: 200;
    line-height: 2vw;
    display: flex;
    gap: 2vw;
    align-items: center;
    width: 63vw;
}
.instructor img{
    border: 3px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-radius: 1vw;
    box-shadow: 2px 2px  10px orange;
    width: 20vw;
}
.instructor p{
    color: #5e5c5c;
    
}
.instructor_content{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.instructor_content h4{
    color: #5e5c5c;
    font-family: 'Rubik';
    font-weight: 200;
}
.icons{
    background-color: #f5f6fa;
    text-align: center;
    padding: 12%;
    border-radius: 0.3vw;
    width: 2.3vw;
    height: 2.3vw;
}
.icons:hover{
    background-color: orange;
    
}
a {
    color: #000; /* Set default color for icons */
   
    
}
  
a:hover {
    color:white; /* Change color on hover */
}
.socialmedia{
    display: flex;
    gap: 2vw;
}

.python_span{
    color: orange;
}
.curriculum_maincontainer{
    border: 1px solid #bebebe;
    width: 63vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.curriculum_maincontainer h2{
     padding: 2vw; 
    
}
.play_btn{
    color: orange;
}

.playbtn_container h3{
    padding: 1.7vw;
    font-family: 'Rubik';
    font-weight:300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}
.python_plus_btn,.python_minus_btn{
    color: orange;
}

.playbtn_subcontainer{
    display: flex;
    gap:0.5vw;
    align-items: center;
    padding: 1.5vw;
    background-color: #fae6fd;
    font-family: 'Rubik';

   
}
.playbtn_subcontainer1{
    display: flex;
    gap:0.5vw;
    align-items: center;
    padding: 1.5vw;
    background-color:white;
    font-family: 'Rubik';
}
@media screen and (max-width:425px) {
    .python_mainContainer::before {
        margin-top: 10vw;
        height: 80%;
       
    }
    .python_mainContainer .python_mainContainer_img{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap:2vw;
        padding: 10vw;
        margin-top: 10vw;
        

    }
    .python_mainContainer .python_mainContainer_img h2{
        font-size: 4vw;
        margin: 0;
    }
    .python_mainContainer .python_mainContainer_img h5{
        font-size: 3vw;
        margin: 0;
    }
    .python_subContainer{
        display: flex;
        flex-direction: column;
        margin:2vw;
        gap: 4vw;
       
    }
    .python_subContainer h2{
        font-size: 3.2vw;
        margin-bottom: 0;
    }
    .python_subContainer img{
        width: 80vw;
        height: 40vw;
        
    }
    .python_subContainer .overview{
        width: 80vw;
        font-size: 3.5vw;
        gap: 7vw;
        padding: 4vw;
    }
    .overview h4::after {
        bottom: -4vw;
    }
    .content .overview_maincontainer{
        width: 80vw;
        gap: 4vw;
    }
    .overview_maincontainer .overview_description{
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .overview_maincontainer .overview_description h2{
        font-size: 4vw;
    }
    .overview_maincontainer .overview_description p{
        font-size: 2vw;
        line-height: 3vw;
        
    }
    .curriculum_maincontainer{
        width: 80vw;
    }
    .curriculum_maincontainer h2{
        font-size: 5vw;
    }
    .curriculum_maincontainer h3{
        font-size: 4vw;
    }
    .playbtn_subcontainer,.playbtn_subcontainer1{
        font-size: 2.7vw;
        padding: 2vw;
    }
    .instructor{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5vw;

    }
    .instructor img{
        width: 50vw;
        height: 50vw;
    }
    .instructor_content{
        gap: 2vw;
    }
    .instructor_content_div{
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    .instructor_content_div h2{
        font-size: 5vw;
    }
    .instructor_content_div p{
        font-size: 2vw;
    }
    .instructor_content div h4{
        font-size: 2.5vw;
        line-height: 4vw;
    }
    .socialmedia{
        gap: 5vw;
    }
    .icons{
        width: 5vw;
        height: 5vw;
    }
    
}

@media (min-width:1024px) and (max-width:1440px) {
    .python_mainContainer_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .python_subContainer{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .content .overview_maincontainer{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .overview_maincontainer .overview_description .course-heading{
        text-align:left;
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .python_mainContainer .python_mainContainer::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background-image: url(./../../Media/python_course_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.2; /* Set opacity for the background image */
        z-index: 1;
    }
    
    .python_mainContainer .python_mainContainer_img {
        position: relative;
        z-index: 2; /* Ensure the text is above the background image */
        padding: 2vw;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        
    }
    .python_mainContainer .python_mainContainer_img h2{
        color: #111111;
        font-size: 1.5vw;
    }
    .python_mainContainer .python_mainContainer_img h5{
        color: #111111;
        font-size: 1.5vw;
        font-family: 'Rubik';
        font-weight: 400;
    }
    .python_subContainer .python_subContainer_heading{
        font-size: 2.3vw;
    }
    .python_subContainer img{
        width:63vw;
        height: 30vw;
    }
    .python_subContainer .overview{
        width:63vw;
        padding: 2vw;
        font-size: 1.7vw;
        gap: 6vw;
        margin-top: 2vw;
    }
    .overview h4::after {
        bottom: -2vw;
        border-bottom: 4px solid orange;
    }
    .content .overview_maincontainer .overview_description{
       margin-top: 1vw;
    } 
    .content .overview_maincontainer .overview_description p{
        width: 63vw;
        margin-top:1vw;
        font-size: 1vw;
     } 
    .python_subContainer .content .curriculum_maincontainer{
    width: 100%;
    max-width:63vw;
    box-sizing: border-box;
    font-size: 1vw;
    margin-top: 2vw;
    
   }
   .python_subContainer .content .curriculum_maincontainer h2{
    font-size: 2vw;
    padding: 2vw;
   }
   .python_subContainer .content .curriculum_maincontainer h3{
    font-size: 1.7vw;
    padding: 2vw;
   }
   .playbtn_subcontainer, .playbtn_subcontainer1{
    gap: 0.8vw;
    padding: 1.5vw;
    font-size: 1.2vw;
   }
   .playbtn_container .play_btn{
    width: 1.5vw;
    height: 1.5vw;
   }
   .instructor{
        margin-top:2vw;
        gap: 2.5vw;
        box-sizing: border-box;
       width: 67vw;
        
    }
    .instructor img{
        width: 25vw;
        height: 20vw;
        
    } 
    .instructor_content .instructor_content_div{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .instructor .instructor_content {
        display: flex;
        flex-direction: column;
        gap: 1vw;

    }
    .instructor_content .instructor_content_div h2{
        font-size: 2vw;
    }
    .instructor_content .instructor_content_div p{
        font-size: 1.2vw;
        width: 63vw;
    }
    .instructor_content div h4{
        font-size: 1.2vw;
        line-height: 2vw;
        width: 43vw;
    }
    
    .socialmedia{
        display: flex;
        gap: 5rem;
        margin-top: 3rem;
    }
    .instructor_content .socialmedia .icons{
        width: 3.5rem;
        height: 3.5rem;
    }
    .overview_maincontainer .overview_description .course-heading{
        text-align:left;
        font-size: 3rem;
    }
    .overview_maincontainer .overview_description p{
        font-size: 2rem;
        margin-top: 1rem;
        line-height: 3rem;
        width: 75rem;
    }
}