.python_mainContainer {
    position: relative;
    font-size: 5rem;
    margin-top: 5rem;
    padding: 6rem;
    color:orange;
    /* color: black; */
}

.python_mainContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../Media/python_course_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; /* Set opacity for the background image */
    z-index: 1;
}

.python_mainContainer_img {
    position: relative;
    z-index: 2; /* Ensure the text is above the background image */
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.python_mainContainer_img h2{
    color: #111111;
    font-size: 30px;
}
.python_mainContainer_img h5{
    color: #111111;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: 400;
}
.python_subContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    text-align: left;
    /* font-family:Arial, Helvetica, sans-serif; */
   
}
.python_subContainer h2{
    color:#111111;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 24px;
}
.python_subContainer .overview{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 4rem;
    background-color: #ece9f9;
    width: 50rem;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'Rubik';
    font-size: 17px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.8px;
}
.overview h4:hover{
    cursor: pointer;
    
}
.overview h4:active{
    color: orange;
    cursor:pointer;
}



.overview h4 {
    position: relative;
}

.overview h4::after {
    content: '';
    position: absolute;
    left: 50%; /* Start from the middle */
    bottom: -1.5rem;
    width: 0; /* Initially, no width */
    border-bottom: 2px solid orange;
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition */
}

.overview h4:hover::after {
    width: 100%; /* Full width on hover */
    left: 0; /* Adjust the starting point */
}
.overview .active-tab{
    color: #ffb607; 
}


.overview_maincontainer{
    font-family: 'Rubik';
    font-weight: 100;
    color: #616161;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}


.instructor{
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 200;
    line-height: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.instructor img{
    border: 3px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px  10px orange;
}
.instructor p{
    color: #5e5c5c;
    width: 25rem;
}
.instructor_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.instructor_content h4{
    color: #5e5c5c;
    width: 25rem;
    font-family: 'Rubik';
    font-weight: 200;
}
.icons{
    background-color: #f5f6fa;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}
.icons:hover{
    background-color: orange;
    
}
a {
    color: #000; /* Set default color for icons */
   
    
}
  
a:hover {
    color:white; /* Change color on hover */
}
.socialmedia{
    display: flex;
    gap: 1.5rem;
}

.python_span{
    color: orange;
}
.curriculum_maincontainer{
    border: 1px solid #bebebe;
    max-width: 50rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.curriculum_maincontainer h2{
     padding: 2rem; 
     border-bottom: 1px solid rgb(190, 190, 190);
}
.play_btn{
    color: orange;
}
/* .playbtn_container{
    border-top: 1px solid #bebebe;
} */
.playbtn_container h3{
    padding: 1.7rem;
    font-family: 'Rubik';
    font-weight:300;
}
.playbtn_subcontainer{
    display: flex;
    gap:0.5rem;
    align-items: center;
    padding: 1.5rem;
    background-color: #fae6fd;
    font-family: 'Rubik';
}
.playbtn_subcontainer1{
    display: flex;
    gap:0.5rem;
    align-items: center;
    padding: 1.5rem;
    background-color:white;
    font-family: 'Rubik';
}
@media (min-width:321px) and (max-width:426px) {
    .python_subContainer{
        display: flex;
        flex-direction: column;
        justify-items: baseline;
        box-sizing: border-box;
        padding: 0px;
        /* border: 1px solid black; */
        
        
    }
    .python_subContainer img{
        max-width:100%;
        height: 100%;
    }
    .python_subContainer .overview {
        display: flex;
        /* flex-wrap: wrap; */
        gap: 2rem;
        background-color: #ece9f9;
        color: #333;
        /* width: 100%; */
        max-width:100%; /* Adjust the maximum width */
        padding: 2rem;
        padding-left: 2rem; /* Reduce left padding */
        padding-right: 2rem; /* Reduce right padding */
        /* border: 1px solid black; */
        box-sizing: border-box;
        justify-content: center;
        font-family: 'Rubik';
        font-size: 13px;
        font-weight: 200;
        font-style: normal;
        letter-spacing: 0.8px;
        overflow-x: hidden; /* Prevent horizontal overflow */
    }
    
   
    .python_mainContainer .python_subContainer h2{
        color:yellow;
        font-family: 'Rubik';
        font-weight: 100;
        font-size: 14px;
        width: 100%;
    }
    .overview_maincontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 100%; */
        /* border: 1px solid black; */
        font-size: 13px;
       
        max-width: 100%;
    }
    .instructor{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        box-sizing: border-box;
    }
    .instructor img{
        width:60%;
    }
    .instructor_content{
        max-width: 20rem;
        font-size: 14px;
        box-sizing: border-box;
    }
    .instructor_content h4{
        max-width: 20rem;
    }
    .instructor_content p{
        max-width: 20rem;
    }
}