.Review_mainContainer{
    background-color: #ece9f9;
    padding: 6rem;
    width: 100%;
    box-sizing: border-box;
   
    
}
.Review_subContainer{
    display: flex;
    gap: 7rem;
    /* flex-wrap: wrap; */
}
.review_description{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}
.review_description h3{
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 300;
}
@media (max-width:320px) {
    .Review_mainContainer{
        padding: 2rem;
    }
    .Review_subContainer{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        padding: 0;
        gap: 2rem;
    }
    .review_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .review_description img{
        width: 80%;
    }
    .review_description h3{
        font-size: 15px;
        font-family: 'Rubik';
        font-weight: 300;
        
    }
}

@media (min-width:321px) and (max-width:426px) {
    .Review_mainContainer{
        padding: 4rem;
    }
    .Review_subContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4rem;
       
    }
   
    .review_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .review_description img{
        width: 170px;
    }
}