.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  /* src: url('./fonts/Rubik-Italic.ttf') format('truetype'); */
  src: url('./fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular weight with Italic style */
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700; /* Bold weight with Italic style */
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 300; /* Bold weight with Italic style */
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 200; /* Bold weight with Italic style */
  font-style: normal;
}