.python_mainContainer {
    position: relative;
    font-size: 5rem;
    margin-top: 5rem;
    padding: 6rem;
    color:orange;
    /* color: black; */
}

.python_mainContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../../Media/python_course_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2; /* Set opacity for the background image */
    z-index: 1;
}

.python_mainContainer_img {
    position: relative;
    z-index: 2; /* Ensure the text is above the background image */
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.python_mainContainer_img h2{
    color: #111111;
    font-size: 30px;
}
.python_mainContainer_img h5{
    color: #111111;
    font-size: 16px;
    font-family: 'Rubik';
    font-weight: 400;
}
.python_subContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    text-align: left;
    /* font-family:Arial, Helvetica, sans-serif; */
   
}
.python_subContainer h2{
    color:#111111;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 24px;
}
.overview{
    display: flex;
    gap: 4rem;
    background-color: #ece9f9;
    width: 66%;
    padding: 1.5rem;
   justify-content: center;
}
.overview h4:hover{
    cursor: pointer;
}
.overview h4:active{
    color: orange;
    cursor:pointer;
}
.overview_maincontainer{
    font-family: 'Rubik';
    font-weight: 100;
    color: #616161;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}
.django_span{
    color: orange;
}

.django_overview{
    background-color: #ece9f9;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 50rem;
}  
.django_overview h4::after {
    content: '';
    position: absolute;
    left: 50%; /* Start from the middle */
    bottom: -1.5rem;
    width: 0; /* Initially, no width */
    border-bottom: 2px solid orange;
    transition: width 0.5s ease, left 0.5s ease; /* Smooth transition */
}

.django_overview h4:hover::after {
    width: 100%; /* Full width on hover */
    left: 0; /* Adjust the starting point */
}
.django_overview h4{
    cursor: pointer;
    position: relative;
}
.django_overview .active-tab{
    color: #ffb607; 
}

.django_curriculum_maincontainer{
    border: 1px solid #bebebe;
    width:50rem ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.django_curriculum_maincontainer .curriculum_maincontainer-heading{
    padding: 2rem;
    /* border-bottom: 1px solid #bebebe; */
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .python_subContainer .python_subContainer_heading2{
        font-size: 2vw;
    }
    .python_subContainer img{
        width: 63vw;
    }
    .django_curriculum_maincontainer{
        border: 1px solid #bebebe;
        width:91rem ;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
    }
    .django_curriculum_maincontainer .curriculum_maincontainer-heading{
        padding: 3rem;
        border-bottom: 1px solid #bebebe;
        font-size: 3rem;
    }
    .playbtn_container h3{
        padding: 3rem;
    }
    .instructor_content .django_instructor_content_below h2{
        font-size: 2.3rem;
        padding-bottom: 2rem;
    }
   
     .django_overview{
        font-size: 1.6vw;
        padding: 2vw;
        width: 100%;
        max-width: 63vw;
        gap: 5vw;
        font-family: "Rubik";
        margin-top: 1.5vw;
        box-sizing: border-box;
     }
     .django_overview h4::after {
        bottom: -2vw;
        border-bottom: 4px solid orange;
     }
     .content .overview_maincontainer{
        margin-top: 1.5vw;
     }
     .content .overview_maincontainer h2{
        font-size: 1.7vw;
        margin-top: 1vw;
     }
     .content .overview_maincontainer p{
        font-size: 1.2vw;
        width: 63vw;
        line-height: 2.2vw;
        margin-top: 1vw;
     }
     .django_curriculum_maincontainer{
        width: 63vw;
     }
     .django_curriculum_maincontainer .curriculum_maincontainer-heading{
        border-bottom: none;
     }
     .instructor img{
        width: 20vw;
     }
     .instructor_content .django_instructor_content_below h2{
        font-size: 2vw;
     }
     .django_instructor_content_below p{
        font-size: 1.3vw;
        width: 63vw;
     }
     .instructor_content .django_instructor_content_below h4{
        font-size: 1.3vw;
     }
  
}
